# Set default behavior to automatically normalize line endings to LF
* text=auto eol=lf

# Explicitly declare files that must always use LF
*.ts text eol=lf
*.tsx text eol=lf
*.js text eol=lf
*.jsx text eol=lf
*.json text eol=lf
*.md text eol=lf
*.css text eol=lf
*.html text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

# Explicitly denote binary files that should never be modified by Git line conversions
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.webp binary
*.svg text
*.mp4 binary